

<!-- <div class="card-deck container-fluid">
           <audio controls>
        <source src="{{urleng}}" type="audio/mpeg">
        </audio>
    {{#each cards}}
    <div class="mycard col-3">
      <div class="mycard-body">
        <div class="volume-main-icon"><img src="../images/volume.png" alt="text-to-speech"></div>
        <h3 class="mycard-title"> {{phrase}} </h3>    
        <div class="thumbsup-icon">
          <form action="/main/{{_id}}" method="POST">
            <button type="submit" class="btn-thumbsup-icon">
              <img src="../images/thumbs_up.png" alt="like-button">
            </button>
          </form>
      </div>
      </div>
    </div>
    {{/each}}
  </div> -->

 <div class="containers">
      <div class="row">
    {{#each cards}}
      
    <label class="label-card">
       <input class="input-card" type="checkbox" />
    <div class="mycard flip-card" >
      <div class="mycard-body front">
        <h3 class="mycard-title"> {{phrase}} </h3> 
      
        <hr>
        <p class="click">Click to flip</p>   
        <div class="thumbsup-icon">
          <form action="/main/{{_id}}" method="POST">
            <button type="submit" class="btn-thumbsup-icon">
              <img src="../images/thumbs_up.png" alt="like-button">
            </button>
          </form>
      </div>
      </div>

       
       <div class="mycard-body back">
               
               <audio controls>
        <source src="{{urleng}}" type="audio/mpeg">
        </audio>
     
        <h3 class="mycard-title"> {{translation}} </h3> 
         <hr >
        
               <audio controls>
        <source src="{{urleng}}" type="audio/mpeg">
        </audio>
 
         <h3 class="mycard-title"> {{meaning}} </h3>  
         <hr>
         <p class="click">Click to flip</p>         
      </div>
    </div>
     </label>
    {{/each}}
    </div>
  </div> 
